{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block jscript %}
    <style>
        .back-image {
            height: 400px;
            width: 100%;
            box-sizing: border-box;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url({{ url_for('static', filename='images/auto.png') }});
        }
    </style>
{% endblock %}
{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href="/" class="active">Главная</a>
            <a href="">Новости</a>
            <a href="">О продукте</a>
            <a href="/logout/" style="float: right">Выход</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="/" class="active">Главная</a>
            <a href="">Новости</a>
            <a href="">О продукте</a>
            <a href="/login/" style="float: right;">Вход</a>
            <a href="/register/" style="float: right;">Регистрация</a>
        </div>
    {% endif %}
    <!-- Гостогоголи канон -->
{% endblock %}
{% block content %}
    {% if usr.is_authenticated %}
        <div class="header">
            <p>Ваши классы</p>
        </div>
        <div class="klass">
            <table>
                <thead>
                    <tr>
                        <td scope="col">Класс</td>
                        <td scope="col">Обновлемый листок</td>
                        <td scope="col">Действия</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Класс 1</td>
                        <td>Такой-то</td>
                        <td>Обновить</td>
                    </tr>
                    <tr>
                        <td>Класс 2</td>
                        <td>Вот такой-то</td>
                        <td>Обновить</td>
                    </tr>
                    <tr>
                        <td>Класс 3</td>
                        <td>Такой-то</td>
                        <td>Обновить</td>
                    </tr>
                    <tr>
                        <td>Класс 4</td>
                        <td>Вот такой-то</td>
                        <td>Обновить</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if not usr.is_authenticated %}
        <div class="back-image"></div>
        <div class="main-page-container">
            <span class="header"><p>Автоплюсник</p></span>
            <span class="text"><p>Автоплюсник - система для автоматической загрузки отчётов stepik об успеваемости учеников. Автоплюсник будет выгружать эти отчёты в электронные таблицы Google.</p></span>
        </div>
        <div class="back-image"></div>
        <div class="main-page-container">
            <span class="header"><p>Начните использовать</p></span>
            <div class="text">
                <p>Автоплюсник полностью бесплатный. Вы можете им пользоваться всегда, когда захотите.</p>
                <a href="/register/" class="ap-button">Начать</a>
            </div>
        </div>
        <div class="back-image"></div>
    {% endif %}
{% endblock %}